* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #fff;
    --button-color: #ff5945;
    --row-color: #edeef0;
    --checked-color: #555;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: var(--second-bg-color);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: var(--bg-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--row-color);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: var(--button-color);
    color: var(--second-bg-color);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    position: relative;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked {
    color: var(--checked-color);
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: var(--checked-color);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: var(--row-color);
}

footer {
    background-color: var(--bg-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}




/* Media Queries */

@media (min-width: 270px) {
    .todo-app {
        padding: 20px;
    }

    button {
        padding: 12px 30px;
        font-size: 14px;
    }

    ul li {
        font-size: 14px;
    }
}

@media (min-width: 371px) {
    .todo-app {
        padding: 30px;
    }
}

@media (min-width: 462px) {
    .todo-app {
        padding: 40px;
    }
}

@media (min-width: 520px) {
    .todo-app {
        padding: 50px;
    }
}

@media (min-width: 617px) {
    .todo-app {
        padding: 60px;
    }
}

